.skill_Header {
    height: 50px;
    position: relative;
    background: rgba(41, 41, 41, 0.7);
    color: red;
    padding: 0;
    text-align: center;

}

.skill_Header > div {
    width: max-content;
    height: max-content;
    font-size: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.skill {
    height: 580px;
    position: relative;
    bottom: 50px;
}

.skill > section {
    position: relative;
    top: 30px;
}

.skill > section > p {
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 50px;
    font-size: 20px;
}

.skill > section > div {
    width: 90%;
    height: 35px;
    position: relative;
    left: 50px;
    padding-right: 0;
}

.skill > section > div > div {
    height: 15px;
}

.container {
    width: 100%;
    background-color: #ddd;
    border-radius: 22px;
    margin-bottom: 50px;
    /*width: 100%;*/

}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 20px;
}

.java {
    width: 90%;
    background-color: rgba(23, 70, 104, 1);

}

.html {
    width: 80%;
    background-color: rgba(23, 70, 104, 1);

}

.css {
    width: 65%;
    background-color: rgba(23, 70, 104, 1);
}

.mysql {
    width: 60%;
    background-color: rgba(23, 70, 104, 1);
}

@media all and (max-width: 320px) {
    .skill_Header {

    }

    .skill {
        height: 400px;
    }

    .skill > section > p {
        font-size: 12px;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .skill > section > div {
        width: 90%;
        height: 15px;
        position: relative;
        left: 25px;
        padding-right: 0;
    }

    .skill > section > div > div {
        height: 0;
    }
}

@media all and (min-width: 320px)and (max-width: 375px) {
    .skill_Header {
        top: 53px;
    }

    .skill {
        bottom: 0;
        height: 400px;
    }

    .skill > section > p {
        font-size: 12px;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .skill > section > div {
        width: 90%;
        height: 15px;
        position: relative;
        left: 25px;
        padding-right: 0;
    }

    .skill > section > div > div {
        height: 0;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {
    .skill_Header {
        top: 50px;
    }

    .skill {
        bottom: 0;
        height: 410px;
    }

    .skill > section > p {
        font-size: 12px;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .skill > section > div {
        width: 90%;
        height: 20px;
        position: relative;
        left: 25px;
        padding-right: 0;
    }

    .skill > section > div > div {
        height: 0;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    .skill {
        bottom: 0;
    }

    .skill {
        /*bottom: 0;*/
        height: 420px;
        bottom: 50px
    }

    .skill > section > p {
        font-size: 12px;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .skill > section > div {
        width: 90%;
        height: 20px;
        position: relative;
        left: 25px;
        padding-right: 0;
    }

    .skill > section > div > div {
        height: 0;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .skill_Header {
        top: 30px;
    }

    .skill {
        bottom: 20px;
        height: 470px;
    }

    .skill > section > p {
        font-size: 12px;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    .skill > section > div {
        width: 90%;
        height: 30px;
        position: relative;
        left: 25px;
        padding-right: 0;
    }

    .skill > section > div > div {
        height: 10px;
    }
}