/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #707070;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}


* {
    scroll-behavior: smooth;
}


[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration:1000ms !important;
}
